:root {
  --bg: #fff5ec;
  --highlight: #fe8821;
  --borderLight: #ffae67;
  --borderDark: #ff7f0f;
  --header: black;
  --text1: black;
  --text2: white;
  --maxWidth: 900px;
  --shadowColor: #b7631a;
  --shadow: 0 2px 4px 0 var(--shadowColor), 0 1px 2px -1px var(--shadowColor);
  --shadow-lg: 0 4px 6px 0 var(--shadowColor),
    3px 3px 4px -1px var(--shadowColor);
}

html {
  font-family: sans-serif;
  background-color: var(--bg);
  min-height: 100vh;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

.header {
  border-bottom: solid 1px;
  border-bottom-color: var(--header);
  width: 100vw;
  margin: 0;
  position: relative;
  right: 8px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header);
  color: var(--text2);
}
.header-content {
  max-width: var(--maxWidth);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: solid 1px var(--borderLight);
}

.nav {
  padding: 10px;
  display: flex;
  max-width: var(--maxWidth);
  width: 100%;
  justify-content: start;
  gap: 20px;
  font-size: 14pt;
  flex-wrap: wrap;
}

.navOption {
  padding: 5px 10px;
  outline: 1px solid var(--borderLight);
  border-radius: 5px;
  color: var(--text2);
  text-decoration: none;
  box-shadow: var(--shadow);
}
.navOption:hover {
  outline-width: 2px;
  outline-color: var(--highlight);
  color: var(--highlight);
  box-shadow: var(--shadow-lg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  background-color: #fff5ec;
}

.content {
  padding: 10px 20px;
  max-width: var(--maxWidth);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px var(--borderDark);
  border-radius: 5px;
  background-color: var(--highlight);
}

.segment {
  border: solid 1px var(--borderDark);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--bg);
  box-shadow: var(--shadow);
}
.segment:hover {
  box-shadow: var(--shadow-lg);
}

.inline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subheader {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.teamList {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}

.memberPage {
  display: flex;
  flex-wrap: wrap;
}
.subsection {
  width: fit-content;
}
.subsection h2 {
  margin: 0;
}

.req-list {
  margin-top: 4px;
}

ul li {
  position: relative;
  left: 20px;
}

#requirements {
  padding-left: 10px;
}
